
Other_stuff/.DS_Store
Other_stuff/allprogscaskcandownload.txt
Other_stuff/AllProgsInstalled.xlsx
Other_stuff/txttoaray.sh
Other_stuff/info brewcask.pages
testmultisearch.sh
Other_stuff/Homebrew_casklist030817.sh
Other_stuff/EveryMacDotApp.txt
txttoaray.sh
